.Submit{
    width: 120px;
    margin-left: 680px;
}
.Cancel{
    width: 120px;
    margin-left: 10px;
}
.gesi{
    width: 460px;
}
.mr-sm-2{
    width:400px;
}
.ml-auto{
    width: 150px;
}
.table-comu{
    width: 100%;
}
.ii{
    width: 200px;
}

.Rev{
    height: 300px;
}
.fix-sub{
    width: 80px;

}
.fix-can{
    width: 80px;

}
.fix-btn{
    margin-left: 85%;
}
.table-list{
    width: 80px;
}
.comment{
    height: 100px;
}
.custom-table{
    width: 64%;
    margin-left: 18%;
}
.que-table{
    width: 64%;
    margin-left: 18%;
}